doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Pramita Winata
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:300,400|Questrial|Satisfy')
    link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  body#myPage(data-spy='scroll', data-target='.navbar', data-offset='60', onload='myFunction()')
    .header
      .bg-color
        header#main-header
          nav.navbar.navbar-default.navbar-fixed-top
            .container
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#mitaMenu')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='#') Mita
              #mitaMenu.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right.navbar-border
                  li.active
                    a(href='#main-header') Home
                  li
                    a(href='#travel') Travel
                  li
                    a(href='#cooking') Cooking
        .wrapper
          .container
            .row
              .col-md-12.wow.fadeIn.delay-05s
                .banner-text
                  h2
                    | Hi, I am 
                    span Pramita
                    |  Winata                 
                .overlay-detail.text-center
                  a(href='#travel')
                    i.fa.fa-angle-down
    section#travel.section-padding.wow.fadeInUp.delay-05s
      .container
        .row
        .col-md-12
        h2.title.text-center
          | Let's 
          span.deco See
          |  Some of My Work
          .col-md-12
            #myGrid.grid-padding
            .col-md-4.col-sm-4.padding-right-zero
                  #3dsection1
                    //script(src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js")
                    script(src="/javascripts/three.js/build/three.min.js")
                    script(type = "module" src='/javascripts/box3d.js')
                 
                  blockquote.instagram-media(data-instgrm-permalink='https://www.instagram.com/p/Btp7BQBhq5z/', data-instgrm-version='12', style=' background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);')
                    div(style='padding:16px;')
                      a(href='https://www.instagram.com/p/Btp7BQBhq5z/', style=' background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;', target='_blank')
                  iframe(width='100%', height='315', src='https://www.youtube.com/embed/L5ARxVSr3xs',
                      frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='' padding = '10')
                  iframe(width='100%', height='315', 
                    src='https://www.youtube.com/embed/DcwvSuHYhtc',
                    frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='' padding = '10')
            .col-md-4.col-sm-4.padding-right-zero
               #3dsection2
                    //script(src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js")
                    script(src="/javascripts/three.js/build/three.min.js")
                    script(type = "module" src='/javascripts/ball.js')
               blockquote.instagram-media(data-instgrm-permalink='https://www.instagram.com/p/BcT30LmBmni/', data-instgrm-version='12', style=' background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);')
                div(style='padding:16px;')
                  a(href='https://www.instagram.com/p/BcT30LmBmni/', style=' background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;', target='_blank')
               iframe(width='100%', height='315', 
                  src='https://www.youtube.com/embed/u5NO7EnzCy0',
                  frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='' padding = '10')
               iframe(width='100%', height='315', 
                  src='https://www.youtube.com/embed/OQnZ2XtZDlI',
                  frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='' padding = '10')
            .col-md-4.col-sm-4.padding-right-zero                     
                iframe(width='100%', height='315', 
                  src='https://www.youtube.com/embed/OuMJ-bAToBI',
                  frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='' padding = '10')                    
                iframe(width='100%', height='315', 
                  src='https://www.youtube.com/embed/TsFMOIYsGOA',
                  frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='' padding = '10')
                blockquote.instagram-media(data-instgrm-permalink='https://www.instagram.com/p/BfkvliBgxIm/', data-instgrm-version='12', style=' background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);')
                  div(style='padding:16px;')
                  a(href='https://www.instagram.com/p/BfkvliBgxIm/', style=' background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;', target='_blank')
     section#cooking.section-padding.wow.fadeInUp.delay-05s
      .container
        .row
          .col-md-12
          h2.title.text-center
            | Let's 
            span.deco See 
            |  Some of My Cooking
          .col-md-12
            #myGrid.grid-padding
          .col-md-4.col-sm-4.padding-right-zero      
               img.img-responsive(src='images/food/noddle_friend.jpg')
               img.img-responsive(src='images/food/banana_fritter.jpg') 
               img.img-responsive(src='images/food/beef_curry.jpg') 
          .col-md-4.col-sm-4.padding-right-zero  
               img.img-responsive(src='images/food/okonomiyaki.jpg')       
               img.img-responsive(src='images/food/rice_ribs_chickensoup.jpg')
               img.img-responsive(src='images/food/tomatorice_beefstew.jpg') 
          .col-md-4.col-sm-4.padding-right-zero              
               img.img-responsive(src='images/food/walnet_brownies.jpg') 
               img.img-responsive(src='images/food/martabak.jpg')            
               img.img-responsive(src='images/food/bincuis_sweetsourpork.jpg')
          .col-md-4.col-sm-4.padding-right-zero           
               img.img-responsive(src='images/food/capcay_friedtempe.jpg')                
               img.img-responsive(src='images/food/redrice_ribssoup.jpg')     
               img.img-responsive(src='images/food/chillynoddle_meetball.jpg')   
          .col-md-4.col-sm-4.padding-right-zero          
               img.img-responsive(src='images/food/crispy_porkbelly.jpg') 
               img.img-responsive(src='images/food/corn_soup.jpg')
               img.img-responsive(src='images/food/herbs_soup.jpg')                       
          .col-md-4.col-sm-4.padding-right-zero 
               img.img-responsive(src='images/food/poke_bowl.jpg') 
               img.img-responsive(src='images/food/porkbelly_grilled.jpg')
               img.img-responsive(src='images/food/coconutrice_eggsabal.jpg')
               
     footer.footer-2.text-center-xs.bg--white
      .container
        // end row
        .row
          .col-md-6
            .footer
              | © Copyright Pramita Winata. All Rights Reserved
              .credits
          .col-md-6.text-right
            ul.social-list
              li
                a(href='https://www.instagram.com/pramitawinata/')
                  i.fa.fa-instagram(style='color: #517fa4')
        // end row
    //script(src='js/jquery.min.js')
    //script(src='js/jquery.easing.min.js')
    //script(src='js/bootstrap.min.js')
    //script(src='js/jquery.bxslider.min.js')
    //script(src='js/wow.js')
    //script(src='js/custom.js')
    //script(src='contactform/contactform.js')
    script(async='', src='//www.instagram.com/embed.js')
