doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Pramita Winata
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:300,400|Questrial|Satisfy')
    link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  body#myPage(data-spy='scroll', data-target='.navbar', data-offset='60', onload='myFunction()')
    .header
      .bg-color
        header#main-header
          nav.navbar.navbar-default.navbar-fixed-top
            .container
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#mitaMenu')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='#') Mita
              #mitaMenu.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right.navbar-border
                  li.active
                    a(href='#main-header') Home
                  li
                    a(href='#travel') Travel
                  li
                    a(href='#cooking') Cooking
        .wrapper
          .container
            .row
              .col-md-12.wow.fadeIn.delay-05s
                .banner-text
                  h2
                    | Hi, I am 
                    span Pramita
                    |  Winata                 
                .overlay-detail.text-center
                  a(href='#travel')
                    i.fa.fa-angle-down
    section#3d.section-padding.wow.fadeInUp.delay-05s
     .container
        .row
          .col-md-12
          h2.title.text-center
            | Let's 
            span.deco See 
            |  Some of 
          .col-md-12
            #myGrid.grid-padding
          .col-md-4.col-sm-4.padding-right-zero
            script(src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js")
            script(src='/javascripts/box3d.js')
            iframe(width='100%', height='315', 
                src='https://www.youtube.com/embed/OuMJ-bAToBI',
                frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='' padding = '10')                    
            iframe(width='100%', height='315', 
                src='https://www.youtube.com/embed/TsFMOIYsGOA',
                frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='' padding = '10')
             footer.footer-2.text-center-xs.bg--white
    .container
      // end row
      .row
        .col-md-6
          .footer
            | © Copyright Pramita Winata. All Rights Reserved
            .credits
        .col-md-6.text-right
          ul.social-list
            li
              a(href='https://www.instagram.com/pramitawinata/')
                i.fa.fa-instagram(style='color: #517fa4')
      // end row

